In [5]:
target=47
num=[2,3,44,12]
def targe(num,target):
    for i in range(0,len(num)):
        for j in range(0,len(num)):
            if num[i]+num[j]==target:
                print([i,j])

targe(num,target)

[1, 2]
[2, 1]

In [ ]:
for i in range(0,5,1):
    for j in range(0,5,1):
        print("*"*j)

In [3]:
for i in range(0,5):
    print("*"*5)

*****
*****
*****
*****
*****

In [20]:
d={"1":"One","2":"two","3":"Three","4":"Four","5":"Five","6":"Six","7":"Seven","8":"Eigth","9":"Nine","0":"zero"}
a="1278mj"
for i in a:
    print(d.get(i,"Sorry"),end=" ")

One two Seven Eigth Sorry Sorry

In [38]:
a="kmujjhgfhghghgnyhbtgvfcd"
d={}

for i in a:
    if d.get(i)!=None:
        d[i]+=1
    else:
        d[i]=1
print(d)

{'k': 1, 'm': 1, 'u': 1, 'j': 2, 'h': 5, 'g': 5, 'f': 2, 'n': 1, 'y': 1, 'b': 1, 't': 1, 'v': 1, 'c': 1, 'd': 1}

In [44]:
a="kmujjhgfhghghgnyhbtgvfcd"
d={}
for i in a:
    d[i]=a.count(i)
print(d)

{'k': 1, 'm': 1, 'u': 1, 'j': 2, 'h': 5, 'g': 5, 'f': 2, 'n': 1, 'y': 1, 'b': 1, 't': 1, 'v': 1, 'c': 1, 'd': 1}

In [43]:
a="ikjunybhgvtfffcfrdx"
a.count("f")

4

In [45]:
l1=[2,3,4]
l2=[5,9,8]
l1.reverse()
l2.reverse()

In [19]:
l = [10, 20, 30, 40]
l2 = []
for i in range(len(l)-1, -1, -1):
    l1.append(l[i])

print(l2)

[40, 30, 20, 10]

In [27]:
l=[1,4,83]
l1=[4,5,6]
l2=[]
l+l1
for i in range(len(l)):
    if l[i]>l1[i]:
        l2.append(l1[i])
    else:
        l2.append(l[i])
print(l2)

[1, 4, 6]

In [23]:
l = [10, 20, 30, 40]
l2=[]
for i in range(len(l)-1,-1,-1):
    l2.append(l[i])
print(l2)

[40, 30, 20, 10]

In [29]:
a=0
l=[23,43,27]
for i in l:
    if i>a:
        a=i
print(a)

43

In [39]:
l=[i for i in range(1,11)]
l1=[23,544,443,22]
l1.sort()
l1[len(l1)-2]

443

In [42]:
l=[2,2,3,4,5,7,8,7]
l1=[]
for i in l:
    if i in l1:
        continue
    else:
        l1.append(i)
print(l)
print(l1)

[2, 2, 3, 4, 5, 7, 8, 7]
[2, 3, 4, 5, 7, 8]

In [43]:
l=[2,34,54,65]
a=0
for i in l:
    a+=i
print(a)

155

In [44]:
l=[2,3,4,5]
a=[2,3,9,8]
s=[]
for i in l:
        if i in a:
                s.append(i)
print(s)

[2, 3]

In [ ]:
a="sakki"
b="ikksa"

def anagrammmm(a,b):
    if len(a)!=len(b):
        return "Not A anagram"
    c={}
    for i in a:
        if i in c:
            c[i]+=1
        else:
            c[i]=1
    for i in b:
        if i not in c:
            return "Not an anagram"
        if i in c:
            c[i]-=1
    
    for i in a:
        if c[i]==0:
            continue
        else:
            return "not an anagram"
    
    for co in c.values():
        if co != 0:
            return "Not an anagram"
    
    return "It is an anagram"
    

v="vasi"
k="siak"
anagrammmm(v,k)

'Not an anagram'

In [46]:
l={2:3,4:67}
print(5 in l)

False

In [ ]:
a=0
b=1
for i in range(12):
    a=b
    b=b+a
    print(b)

In [2]:
a=[2,2,3,3,6,7,6]
b=[]
for i in a:
    if i in b:
        continue
    else:
        b.append(i)
print(b)

[2, 3, 6, 7]

In [ ]:
a=[lambda x:x*i for i in range(12) ]

In [25]:
def sumall(*a):
    sum1=0
    for i in a:
            sum1+=i

    return sum1
sumall(2,3,4,5,67,8,100)

189

In [39]:
a=[i for i in range(10)]
a[1:5]

[1, 2, 3, 4]

In [9]:
a={"1":"One","2":"Two","3":"THree","4":"Four","5":"Five","6":"Six","7":"Seven","8":"Eigth","9":"Nine"}
c=input("enter number :-")
for i in c:
    print(a.get(i,f"({i} not avalaible)"),end=" ")

Two THree Four Five Six Seven

In [36]:
a=[i for i in range(0,10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def Star(n):
    for i in range(n,-1,-1):
        print("*"*i)

Star(10)

In [ ]:
def NStart(n):
    for i in range(1,n,1):
        print("*"*i)

NStart(15)

In [67]:
for i in range(1,12):
    print(" "*(12-i),"* "*i)
for i in range(1,8):
    print(" "*(5+5),"*"*3,)
for i in range(1,4):
    print("*"*35)

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *
     * * * * * * * *
    * * * * * * * * *
   * * * * * * * * * *
  * * * * * * * * * * *
           ***
           ***
           ***
           ***
           ***
           ***
           ***
***********************************
***********************************
***********************************

In [72]:
a=[i for i in range(1,10)if i%2==0]
a

[2, 4, 6, 8]

In [14]:
for i in range(1,10):
    count=0
    for j in range(2,i):
        if i%j==0:
            count+=1
    if count==0:
        print(i,"Prime Number")
    else:
        print(i,"Not Prime Number")

1 Prime Number
2 Prime Number
3 Prime Number
4 Not Prime Number
5 Prime Number
6 Not Prime Number
7 Prime Number
8 Not Prime Number
9 Not Prime Number

In [ ]:
n=30
for i in range(1,30):
    count=0
    for j in range(2,i):
        if i%j==0:
            count+=1
    if count==0:
        print(i,"prime number")

In [20]:
a=0
b=1
for i in range(10):
    print(a,end="  ")
    a,b=b,b+a

0  1  1  2  3  5  8  13  21  34

In [ ]:
def fibanochi(n):
    a,b=0,1
    for i in range(n):
        if a!=0 :
            if a!=1:
                print(a)
        a,b=b,a+b

fibanochi(20)

In [ ]:
a=0
b=1
for i in range(1,30):
    print(a)
    a,b=b,a+b

In [44]:
def fectorial(n):
    fac=1
    for i in range(1,n+1):
        fac=fac*i
    return fac

fectorial(12)

479001600

In [49]:
total=0
for i in range(1,21):
    if i % 2 == 0:
        total+=i
        print(f"Total + {i} = {total}")
print(total)

Total + 2 = 2
Total + 4 = 6
Total + 6 = 12
Total + 8 = 20
Total + 10 = 30
Total + 12 = 42
Total + 14 = 56
Total + 16 = 72
Total + 18 = 90
Total + 20 = 110
110

In [57]:
numbers = [12, 45, 23,90, 78, 56]
numbers.sort()
big=0
for i in numbers:
    if big<i:
        print(f"big={big} but it will be {i}")
        big=i
big

big=0 but it will be 12
big=12 but it will be 23
big=23 but it will be 45
big=45 but it will be 56
big=56 but it will be 78
big=78 but it will be 90

90

In [58]:
a=input("enter")
print(a[::-1])

765432

In [59]:
n=5
for i in range(1,11):
    print(f"{n} x {i} = {i*n} ")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [64]:
n='987'
plus=0
for i in n:
    i=int(i)
    plus+=i
print(plus)

24

In [81]:
n=5
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [76]:
"^"*6

'^^^^^^'

In [89]:
for i in range(10):
    print(" "+"*"*i)

 *
 ****
 *********
 ****************
 *************************
 ************************************
 *************************************************
 ****************************************************************
 *********************************************************************************

In [104]:
a="sdffffff"
b=(2,5,6,8,9)
v={"23",544}
v.add(("2",5))

In [105]:
a=list()
b=[2,]

c={3,"4","7"}  
c={4:"four"}

In [107]:
a=[5,6,7]
mul=1
for i in a:
    mul=i*mul
print(mul)

210

In [111]:
a=0
b=1
for i in range(10):
    print(a)
    a,b = b , a+  b

0
1
1
2
3
5
8
13
21
34

In [ ]:
a,b=0,1
for i in range(20):
    print(a)
    a,b=b,a+b

In [117]:
fact=1
for i in range(1,29+1):
    fact=fact*i
print(fact)

8841761993739701954543616000000

In [122]:
a=(3,4,[45,78],"jhgfd")
a[2].append(67)
a

(3, 4, [45, 78, 67], 'jhgfd')

In [126]:
for i in range(1,20+1):
    count=0
    for j in range(2,i):
        if i % j == 0:
            count+=1
            
    if count==0:
        print(f"{i} is prime")

1 is prime
2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime

class is a m=special method jo object bant te hi call hojata hai  constructer initialize karta hia object ko uske madad

In [131]:
a=[i for i in range(1,15)]
b=[i for i in a if i%2==0]
print(a)
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

[2, 4, 6, 8, 10, 12, 14]

In [159]:
a={2,6,7}
a.update({"4",8,0})
a.difference_update({2,4,8})
a.pop()
a

a="dfghjk"
a.count("f")
a.capitalize()
a.find("j")

4

In [ ]:
a=list()
a=[]
a[2,3,4,5]

In [1]:
a="ddd4"

num="1234567890"
for i in a:
    if i in num:
        print("no")

no

In [14]:
a=(2,"3",["4","6"],(4.5),{4:"5"},{2,3,4})
a

(2, '3', ['4', '6'], 4.5, {4: '5'}, {2, 3, 4})